<!DOCTYPE html>
<html>
<title>Dispur Wireless</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
position: relative;
}

/* Set a style for all buttons */
button {
    background-color: #000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
color: white;
}

img.avatar {
    width: 40%;
    border-radius: 50%;

}

.container {
    padding: 16px;
color: #fff;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #000;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

/* Logout Button Styling */
.logoutLblPos{
position:fixed;
right:10px;
top:5px;
}

label{
    display: inline-block;
    float: center;
    clear: center;
    width: 250px;
    text-align: center; /*Change to right here if you want it close to the inputs*/
}
input {
  display: inline-block;
  float: center;
}
select {
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
}

</style>
<body>

<!-- Navbar -->
<!-- 
<div class="w3-top">
  <div class="w3-bar w3-black w3-card w3-left-align w3-large">
    <img src="logo.png">
  </div>
</div>
-->

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Tariff plans in Assam</h1>
  <p class="w3-xlarge">Random Placeholder (Fill something later)</p>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-black w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Plans Currently Offered</h1>
      <h5 class="w3-padding-32"></h5>

<!-- Tariff Plan Table -->	
<div class="planTable plan_scroll_table">
	<table width="800">
		<thead>
			<th style="text-align:left">Plan Name</th>
			<th style="text-align:left"><span>Type of Plan (Data/Voice)</span></th>
			<th style="text-align:left"><span>Tarrif (Rate/min)</th>
			<th style="text-align:left"><span>Validity (in days)</span></th>
			<th style="text-align:left"><span>Rental Price</span></th>
      </thead>
      <tbody>	
        <% for(var i=0;i<tariffData.length;i++){ %>
          <tr title="Voice plans at ₹ 200 for 30 days"> <!-- Should onclick command be added here ? -->
            <td class="paytm_plan_content">
            <!-- <input type="radio" id="<%= tariffData[i].planname%>"" name="planname" value="<%= tariffData[i].planname%>" /> -->
            <%= tariffData[i].planname%>
            </td>
            <td><%= tariffData[i].typeofplan%></td>
            <td><%= tariffData[i].tarriffRate%></td>
            <td><%= tariffData[i].validity%></td>
            <td>₹<%= tariffData[i].rental %><span class="sPlan"></span></td>
          </tr>
        <% } %>
      </tbody>
  </table>

  <!--
  <form> 
    <input type="submit" value="Create New Plan">  
  </form>
  -->
  <form  method="GET" action="/adminaccesspage">
  <button type="submit" style="width:auto;">Add New Plan</button>
 </form>
<div id="id02" class="modal">
  <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content" action="/action_page.php">
    <div class="imgcontainer">
      <h1>New Plan Details</h1>
  <!-- <img src="logo.png" alt="Avatar" class="avatar"> -->
      <p>Please enter the details of the new plan to be added.</p>
      <hr>
      <label for="name"><b>Plan Name</b></label>
      <input type="text" placeholder="Enter Plan Name" name="planname" required /><br><br><br>
      <label for="typeplan"><b>Type of Plan (Data/Voice)</b></label>
      <input type="text" placeholder="Enter Type of Plan" name="planname" required /><br><br><br>
      <!--
      <select name="Type of Plan" id="typeplan">
      <option value="data">Data</option>
      <option value="voice">Voice</option>
      </select><br><br><br>
      -->

      <label for="tarrif"><b>Tarrif (Rate/min)</b></label>
      <input type="number" placeholder="Enter Tariff (Rate/min)" name="tarrif" required min="0" /><br><br><br>

      <label for="validity"><b>Validity (in days)</b></label>
      <input type="number" placeholder="Enter Validity (in days)" name="validity" required min="0" />
      <br><br><br>
      <label for="rental"><b>Rental</b></label>
      <input type="number" placeholder="Enter Rental Price" name="rental" required min="0" />
      <br><br><br>
      
      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Add New Plan</button>
        <!-- <button type="submit" class="addplanbutn">Add New Plan</button> -->
      </div>
    </div>
  </form>
</div>

</div>

    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-star w3-padding-64 w3-text-red"></i>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
</footer>

<!-- Logout Button -->
<form align="right" name="form1" method="GET" action="/logout">
  <label class="logoutLblPos">
  <input name="submit2" type="submit" id="submit2" value="Log Out">
  </label>
</form>

<script>
// Get the modal
var modal = document.getElementById('id02');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

</body>
</html>
